@charset "UTF-8";

@font-face {
  font-family: "moonmountain";
  src:url("../fonts/custom/moonmountain.eot");
  src:url("../fonts/custom/moonmountain.eot?#iefix") format("embedded-opentype"),
    url("../fonts/custom/moonmountain.woff") format("woff"),
    url("../fonts/custom/moonmountain.ttf") format("truetype"),
    url("../fonts/custom/moonmountain.svg#moonmountain") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "moonmountain" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "moonmountain" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circlemountains:before {
  content: "\61";
}
.icon-diamondmountains:before {
  content: "\62";
}
.icon-diamondmountains2:before {
  content: "\63";
}
.icon-fillcirclemountains:before {
  content: "\64";
}
.icon-fillcirclemountains2:before {
  content: "\65";
}
.icon-fillcirclemountains2 {
  font-size: 200% !important;
  padding-top: 0;
  padding-bottom: 0;
  // padding-bottom: 0px;
  // padding-top: 0px;
  // vertical-align: middle;
}
